[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-on-heroku = "*"
gunicorn = "*"
django-tailwindcss = "*"
tailwind = "*"
django-browser-reload = "*"
tailwindcss = "*"
django-allauth = "*"
django-tailwind = {extras = ["reload"], version = "*"}
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.12"
