<!-- main_app/templates/profile.html -->

{% extends 'base.html' %}

{% block content %}

<div class="flex items-center justify-center h-screen">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-md w-full">
        <hs class="text-4xl font-bold md-4">Profile</h2>
            <p>Welcome, {{ user.firstname }}!</p>
            <p>Email: {{ user.email }}</p>
            <p>Joined: {{ user.date_joined }}</p>
            <p>Properties: {{ user.realty_data_set.all }}</p>
            <p>Properties: {{ user.realty_data_set.all|length }}</p>
            <p>Properties: {{ user.realty_data_set.all|length }}</p>
            <p>Properties: {{ user.realty_data_set.all|length }}</p>
            <p>Properties: {{ user.realty_data_set.all|length }}</p>
            <p>Properties: {{ user.realty_data_set.all|length }}</p>
    </div>
</div>

{% endblock %}